@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.imageSlider {
  height: 600px;
}
body {
  padding-top: 50px;
  font-family: "Raleway", sans-serif;
}
.hakkimizda {
  background-color: #f2f2f2;
}
.ayrac {
  border: none;
  border-top: 3px solid #343a40;
  max-width: 250px;
  margin: 25px auto;
}
.icon-white {
  color: #343a40;
  position: relative;
  top: -55px;
  font-size: 40px;
  border: 10px solid #f2f2f2;
  background-color: #f2f2f2;
}
.icon-gree {
  background-color: white;
  position: relative;
  top: -55px;
  font-size: 40px;
  border: 10px solid white;
}
.card-w {
  min-height: 300px;
}
.galeri {
  background-color: #f2f2f2;
}
.figure:hover {
  opacity: 0.8;
}
.icon-gree-two {
  color: #343a40;
  position: relative;
  top: -55px;
  font-size: 40px;
  border: 10px solid white;
  background-color: white;
}
